[data-row-id="40884704-9268-ca18-0491-bd2133c13faf"] {
    position: absolute !important;
    top: 240px;
    left: 768px
}

[data-row-id="73b859ce-9d0c-5d3c-b49d-cf212f7dc2df"] {
    position: absolute !important;
    top: 960px;
    left:768px;
}