{
	"enableFetures": {
		"--enable-accelerated-mjpeg-decode": true,
		"--enable-vulkan": true,
		"--enable-unsafe-webgpu": true,
		"--enable-features": "Vulkan,UseSkiaRenderer,VaapiVideoEncoder,VaapiVideoDecoder,CanvasOopRasterization,WebUIDarkMode",
		"--enable-accelerated-video": "true",
		"--ignore-gpu-blacklist": "true",
		"--enable-native-gpu-memory-buffers": "true",
		"--enable-gpu-rasterization": "true"
	},
	"app": {
		"basePath": "http://127.0.0.1:8081/",
		"moduleRelativePath": "src/module"
	},
	"xmlHttpRequest" : {
		"authOrg": {
			"path": "http://api.dsign.local",
			"collection": "my-org"
		}
	},
	"localize": {
		"defaultLanguage": "it",
		"languages": [
			"it",
			"en"
		]
	},
	"sender": {
		"ipcProxy": {
			"proxyName": "proxy"
		}
	},
	"storage": {
		"adapter": {
			"mongo": {
				"name": "dsign",
				"uri": "127.0.0.140",
				"port": 27017
			},
			"dexie": {
				"nameDb": "dsign",
				"version": 1
			},
			"localStorage": {
				"namespace": "dsign"
			}
		}
	},
	"module": [
		{
			"title": "Dashboard",
			"name": "dashboard",
			"core": true,
			"sort": 1,
			"icon": "dashboard:menu",
			"entryPoint": {
				"name": "dashboard-index",
				"path": {
					"directory": "element/dashboard-index",
					"nameFile": "dashboard-index",
					"extension": "js"
				}
			},
			"configEntryPoint": "repository.js",
			"autoloads": [
				{
					"name": "WidgetEntity",
					"path": {
						"directory": "src/storage/entity",
						"nameFile": "WidgetEntity",
						"extension": "js"
					}
				}
			],
			"autoloadsWc": [
				{
					"name": "dashboard-icons",
					"path": {
						"directory": "element/dashboard-icons",
						"nameFile": "dashboard-icons",
						"extension": "js"
					}
				}
			],
			"adminViewComponent": [],
			"shortcutComponent": [
				{
					"name": "paper-auth",
					"path": {
						"directory": "element/paper-auth",
						"nameFile": "paper-auth",
						"extension": "js"
					}
				},
				{
					"name": "paper-backup",
					"path": {
						"directory": "element/paper-backup",
						"nameFile": "paper-backup",
						"extension": "js"
					}
				},
				{
					"name": "paper-restore",
					"path": {
						"directory": "element/paper-restore",
						"nameFile": "paper-restore",
						"extension": "js"
					}
				},
				{
					"name": "paper-gpu",
					"path": {
						"directory": "element/paper-gpu",
						"nameFile": "paper-gpu",
						"extension": "js"
					}
				},
				{
					"name": "paper-always-on-top",
					"path": {
						"directory": "element/paper-always-on-top",
						"nameFile": "paper-always-on-top",
						"extension": "js"
					}
				}
			]
		},
		{
			"title": "Monitor",
			"name": "monitor",
			"core": true,
			"sort": 2,
			"icon": "monitor:menu",
			"entryPoint": {
				"name": "monitor-index",
				"path": {
					"directory": "element/monitor-index",
					"nameFile": "monitor-index",
					"extension": "js"
				}
			},
			"configEntryPoint": "repository.js",
			"autoloads": [
				{
					"name": "MonitorEntity",
					"path": {
						"directory": "src",
						"nameFile": "MonitorService",
						"extension": "js"
					}
				},
				{
					"name": "MonitorEntity",
					"path": {
						"directory": "src/entity",
						"nameFile": "MonitorEntity",
						"extension": "js"
					}
				},
				{
					"name": "MonitorContainerEntity",
					"path": {
						"directory": "src/entity",
						"nameFile": "MonitorContainerEntity",
						"extension": "js"
					}
				},
				{
					"name": "DexieMonitorAdapter",
					"path": {
						"directory": "src/storage/adapter/dexie",
						"nameFile": "DexieMonitorAdapter",
						"extension": "js"
					}
				},
				{
					"name": "MongoMonitorAdapter",
					"path": {
						"directory": "src/storage/adapter/mongo",
						"nameFile": "MongoMonitorAdapter",
						"extension": "js"
					}
				}
			],
			"autoloadsWc": [
				{
					"name": "monitor-icons",
					"path": {
						"directory": "element/monitor-icons",
						"nameFile": "monitor-icons",
						"extension": "js"
					}
				},
				{
					"name": "paper-player",
					"path": {
						"directory": "element/paper-player",
						"nameFile": "paper-player",
						"extension": "js"
					}
				},
				{
					"name": "paper-player-manager",
					"path": {
						"directory": "element/paper-player-manager",
						"nameFile": "paper-player-manager",
						"extension": "js"
					}
				},
				{
					"name": "paper-player-resource",
					"path": {
						"directory": "element/paper-player-resource",
						"nameFile": "paper-player-resource",
						"extension": "js"
					}
				},
				{
					"name": "paper-monitor-viewer",
					"path": {
						"directory": "element/paper-monitor-viewer",
						"nameFile": "paper-monitor-viewer",
						"extension": "js"
					}
				}
			],
			"adminViewComponent": [],
			"shortcutComponent": []
		},
		{
			"title": "Resource",
			"name": "resource",
			"core": true,
			"sort": 3,
			"icon": "resource:menu",
			"configEntryPoint": "repository.js",
			"entryPoint": {
				"name": "resource-index",
				"path": {
					"directory": "element/resource-index",
					"nameFile": "resource-index",
					"extension": "js"
				}
			},
			"autoloads": [
				{
					"name": "DexieResourceAdapter",
					"path": {
						"directory": "src/storage/adapter/dexie",
						"nameFile": "DexieResourceAdapter",
						"extension": "js"
					}
				},
				{
					"name": "MongoResourceAdapter",
					"path": {
						"directory": "src/storage/adapter/mongo",
						"nameFile": "MongoResourceAdapter",
						"extension": "js"
					}
				},
				{
					"name": "ResourceService",
					"path": {
						"directory": "src",
						"nameFile": "ResourceService",
						"extension": "js"
					}
				},
				{
					"name": "ResourceSenderEntity",
					"path": {
						"directory": "src/entity",
						"nameFile": "ResourceSenderEntity",
						"extension": "js"
					}
				},
				{
					"name": "ImageEntity",
					"path": {
						"directory": "src/entity",
						"nameFile": "ImageEntity",
						"extension": "js"
					}
				},
				{
					"name": "FileEntity",
					"path": {
						"directory": "src/entity",
						"nameFile": "FileEntity",
						"extension": "js"
					}
				},
				{
					"name": "ImageEntity",
					"path": {
						"directory": "src/entity",
						"nameFile": "ImageEntity",
						"extension": "js"
					}
				},
				{
					"name": "AudioEntity",
					"path": {
						"directory": "src/entity",
						"nameFile": "AudioEntity",
						"extension": "js"
					}
				},
				{
					"name": "VideoEntity",
					"path": {
						"directory": "src/entity",
						"nameFile": "VideoEntity",
						"extension": "js"
					}
				},
				{
					"name": "MetadataEntity",
					"path": {
						"directory": "src/entity",
						"nameFile": "MetadataEntity",
						"extension": "js"
					}
				},
				{
					"name": "MultiMediaEntity",
					"path": {
						"directory": "src/entity",
						"nameFile": "MultiMediaEntity",
						"extension": "js"
					}
				}
			],
			"autoloadsWc": [
				{
					"name": "resource-icons",
					"path": {
						"directory": "element/resource-icons",
						"nameFile": "resource-icons",
						"extension": "js"
					}
				},
				{
					"name": "paper-icon-resource-upsert",
					"path": {
						"directory": "element/paper-icon-resource-upsert",
						"nameFile": "paper-icon-resource-upsert",
						"extension": "js"
					}
				}
			],
			"adminViewComponent": [],
			"shortcutComponent": []
		},
		{
			"title": "Playlist",
			"name": "playlist",
			"core": true,
			"sort": 4,
			"icon": "playlist:menu",
			"configEntryPoint": "repository.js",
			"entryPoint": {
				"name": "playlist-index",
				"path": {
					"directory": "element/playlist-index",
					"nameFile": "playlist-index",
					"extension": "js"
				}
			},
			"autoloads": [
				{
					"name": "PlaylistService",
					"path": {
						"directory": "src",
						"nameFile": "PlaylistService",
						"extension": "js"
					}
				},
				{
					"name": "PlaylistEntity",
					"path": {
						"directory": "src/entity",
						"nameFile": "PlaylistEntity",
						"extension": "js"
					}
				},
				{
					"name": "MongoPlaylistAdapter",
					"path": {
						"directory": "src/storage/adapter/mongo",
						"nameFile": "MongoPlaylistAdapter",
						"extension": "js"
					}
				},
				{
					"name": "DexiePlaylistAdapter",
					"path": {
						"directory": "src/storage/adapter/dexie",
						"nameFile": "DexiePlaylistAdapter",
						"extension": "js"
					}
				}
			],
			"autoloadsWc": [
				{
					"name": "playlist-icons",
					"path": {
						"directory": "element/playlist-icons",
						"nameFile": "playlist-icons",
						"extension": "js"
					}
				}
			],
			"adminViewComponent": [],
			"shortcutComponent": []
		},
		{
			"title": "Admin",
			"name": "admin",
			"core": true,
			"icon": "admin:menu",
			"sort": 6,
			"configEntryPoint": "repository.js",
			"entryPoint": {
				"name": "admin-index",
				"path": {
					"directory": "element/admin-index",
					"nameFile": "admin-index",
					"extension": "js"
				}
			},
			"autoloadsWc": [
				{
					"name": "admin-icons",
					"path": {
						"directory": "element/admin-icons",
						"nameFile": "admin-icons",
						"extension": "js"
					}
				}
			],
			"adminViewComponent": [
				{
					"name": "module-config",
					"path": {
						"directory": "element/module-config",
						"nameFile": "module-config",
						"extension": "js"
					}
				},
				{
					"name": "token-config",
					"path": {
						"directory": "element/token-config",
						"nameFile": "token-config",
						"extension": "js"
					}
				}
			],
			"shortcutComponent": []
		}
	]
}