[
    {
        "title": "Admin",
        "name": "admin",
        "icon": "admin:menu",
        "configEntryPoint": "config.js",
        "entryPoint": {
            "name": "admin-index",
            "path": "index.js"
        },
        "autoloadsWc": [
            {
                "name": "admin-icons",
                "path": "element/icons/icons.js"
            }
        ]
    },
    {
        "title": "Dashboard",
        "name": "dashboard",
        "icon": "dashboard:menu",
        "entryPoint": {
            "name": "dashboard-index",
            "path": "index.js"
        },
        "configEntryPoint": "config.js",
        "autoloads": [
            "src/storage/entity/WidgetEntity.js"
        ],
        "autoloadsWs": [
            {
                "name": "dashboard-icons",
                "path": "element/icons/icons.js"
            }
        ]
    },
    {
        "title": "Monitor",
        "name": "monitor",
        "icon": "monitor:menu",
        "entryPoint": {
            "name": "monitor-index",
            "path": "index.js"
        },
        "configEntryPoint": "config.js",
        "autoloads": [
            "src/MonitorService.js",
            "src/storage/entity/MonitorEntity.js",
            "src/storage/entity/MonitorContainerEntity.js",
            "src/storage/adapter/dexie/DexieMonitorAdapter.js",
            "src/storage/adapter/mongo/MongoMonitorAdapter.js"
        ],
        "autoloadsWs": [
            {
                "name": "monitor-icons",
                "path": "element/icons/icons.js"
            },
            {
                "name": "paper-player",
                "path": "element/paper-player/paper-player.js"
            },
            {
                "name": "paper-player-manager",
                "path": "element/paper-player-manager/paper-player-manager.js"
            },
            {
                "name": "paper-player-timeslot",
                "path": "element/paper-player-timeslot/paper-player-timeslot.js"
            },
            {
                "name": "paper-monitor-viewer",
                "path": "element/paper-monitor-viewer/paper-monitor-viewer.js"
            }
        ]
    },
    {
        "title": "Resource",
        "name": "resource",
        "icon": "resource:menu",
        "configEntryPoint": "config.js",
        "entryPoint": {
            "name": "resource-index",
            "path": "index.js"
        },
        "autoloads": [
            "src/storage/adapter/dexie/DexieResourceAdapter.js",
            "src/storage/adapter/mongo/MongoResourceAdapter.js",
            "src/ResourceService.js",
            "src/storage/entity/FileEntity.js",
            "src/storage/entity/AudioEntity.js",
            "src/storage/entity/ImageEntity.js",
            "src/storage/entity/VideoEntity.js"
        ],
        "autoloadsWs": [
            {
                "name": "resource-icons",
                "path": "element/icons/icons.js"
            }
        ]
    },
    {
        "title": "Timeslot",
        "name": "timeslot",
        "icon": "timeslot:menu",
        "configEntryPoint": "config.js",
        "entryPoint": {
            "name": "timeslot-index",
            "path": "index.js"
        },
        "autoloads": [
            "src/injector/AbstractInjector.js",
            "src/AbstractTimeslotService.js",
            "src/TimeslotService.js",
            "src/storage/entity/TimeslotEntity.js",
            "src/storage/entity/embedded/Injector.js",
            "src/storage/adapter/dexie/DexieTimeslotAdapter.js",
            "src/storage/adapter/mongo/MongoTimeslotAdapter.js",
            "src/injector/Test1.js",
            "src/injector/Test2.js"
        ],
        "autoloadsWs": [
            {
                "name": "timeslot-icons",
                "path": "element/icons/icons.js"
            },
            {
                "name": "timeslot-style",
                "path": "element/style/style.js"
            }
        ],
        "widgets": [
            {
                "src": "timeslot/element/widget/paper-timeslot-tags/paper-timeslot-tags.js",
                "srcData": "timeslot/element/widget/paper-timeslot-tags/paper-timeslot-tags-data.js",
                "description": "Widget to view tagged timeslot",
                "name": "Timeslot tags",
                "wc": "paper-timeslot-tags",
                "wcData": "paper-timeslot-tags-data",
                "dataProperty": "tags",
                "dataLabel": "tags",
                "dataRequired": true
            },
            {
                "src": "timeslot/element/widget/paper-timeslot-monitors/paper-timeslot-monitors.js",
                "srcData": "timeslot/element/widget/paper-timeslot-monitors/paper-timeslot-monitors-data.js",
                "description": "Widget to view the timeslots assiate to the montors",
                "name": "Timeslot monitors",
                "wc": "paper-timeslot-monitors",
                "wcData": "paper-timeslot-monitors-data",
                "dataProperty": "monitors",
                "dataLabel": "monitors",
                "dataRequired": true
            }
        ]
    },
    {
        "title": "Playlist",
        "name": "playlist",
        "icon": "playlist:menu",
        "configEntryPoint": "config.js",
        "entryPoint": {
            "name": "playlist-index",
            "path": "index.js"
        },
        "autoloads": [
            "src/PlaylistService.js",
            "src/storage/entity/PlaylistEntity.js",
            "src/storage/entity/TimeslotPlaylistReference.js",
            "src/storage/adapter/dexie/DexiePlaylistAdapter.js",
            "src/storage/adapter/mongo/MongoPlaylistAdapter.js"
        ],
        "autoloadsWs": [
            {
                "name": "playlist-icons",
                "path": "element/icons/icons.js"
            }
        ]
    },
    {
        "title": "Media device",
        "name": "media-device",
        "icon": "media-device:menu",
        "configEntryPoint": "config.js",
        "entryPoint": {
            "name": "media-device-index",
            "path": "index.js"
        },
        "autoloadsWc": [
            {
                "name": "media-device-icons",
                "path": "element/icons/icons.js"
            }
        ],
        "autoloads": [
            "src/storage/entity/MediaDeviceEntity.js",
            "src/injector/MediaDeviceDataInjector.js",
            "src/storage/adapter/mongo/MongoMediaDeviceAdapter.js"
        ]
    },
    {
        "title": "Timer",
        "name": "timer",
        "icon": "timer:menu",
        "configEntryPoint": "config.js",
        "entryPoint": {
            "name": "timer-index",
            "path": "index.js"
        },
        "autoloadsWc": [
            {
                "name": "timer-icons",
                "path": "element/icons/icons.js"
            }
        ],
        "autoloads": [
            "src/TimerService.js",
            "src/injector/TimerDataInjector.js",
            "src/storage/entity/TimerEntity.js",
            "src/storage/adapter/mongo/MongoTimerAdapter.js"
        ]
    },
    {
        "title": "TimelineEntity",
        "name": "timeline",
        "icon": "timeline:menu",
        "configEntryPoint": "config.js",
        "entryPoint": {
            "name": "timeline-index",
            "path": "index.js"
        },
        "autoloadsWc": [
            {
                "name": "timeline-icons",
                "path": "element/icons/icons.js"
            }
        ],
        "autoloads": [
            "src/TimelineService.js",
            "src/storage/entity/TimelineEntity.js",
            "src/storage/entity/embedded/TimelineItem.js",
            "src/storage/adapter/mongo/MongoTimelineAdapter.js"
        ]
    },
    {
        "title": "Video panel",
        "name": "video-panel",
        "icon": "video-panel:menu",
        "configEntryPoint": "config.js",
        "entryPoint": {
            "name": "video-panel-index",
            "path": "index.js"
        },
        "autoloadsWc": [
            {
                "name": "video-panel-icons",
                "path": "element/icons/icons.js"
            }
        ],
        "autoloads": [
            "src/ffmpg/Mosaic.js",
            "src/ffmpg/filter/Crop.js",
            "src/ffmpg/filter/Default.js",
            "src/storage/entity/VideoPanelContainerEntity.js",
            "src/storage/entity/VideoPanelResourceEntity.js",
            "src/storage/entity/embedded/VideoPanel.js",
            "src/storage/adapter/mongo/MongoVideoPanelAdapter.js",
            "src/VideoPanelService.js"
        ]
    }
]