[
  {
    "title" : "Dashboard",
    "name": "dashboard",
    "icon" : "dashboard:menu",
    "webComponentEntryPointName" : "dashboard-index",
    "webComponentEntryPointNameFile" : "index.js",
    "configEntryPoint": "config.js",
    "autoloads" : [
      "src/storage/entity/WidgetEntity.js"
    ],
    "autoloadsWs": [
      "element/icons/icons.js"
    ]
  },
  {
    "title" : "Monitor",
    "name": "monitor",
    "icon" : "monitor:menu",
    "webComponentEntryPointName" : "monitor-index",
    "webComponentEntryPointNameFile" : "index.js",
    "configEntryPoint": "config.js",
    "autoloads" : [
      "src/MonitorService.js",
      "src/storage/entity/MonitorEntity.js",
      "src/storage/entity/MonitorContainerEntity.js",
      "src/storage/adapter/dexie/DexieMonitorAdapter.js"
    ],
    "autoloadsWs": [
      "element/icons/icons.js",
      "element/paper-player/paper-player.js",
      "element/paper-player-manager/paper-player-manager.js",
      "element/paper-player-timeslot/paper-player-timeslot.js",
      "element/paper-monitor-viewer/paper-monitor-viewer.js"
    ]
  },
  {
    "title" : "Resource",
    "name": "resource",
    "icon" : "resource:menu",
    "configEntryPoint": "config.js",
    "webComponentEntryPointName" : "resource-index",
    "webComponentEntryPointNameFile" : "index.js",
    "autoloads" : [
      "src/storage/adapter/dexie/DexieResourceAdapter.js",
      "src/ResourceService.js",
      "src/storage/entity/FileEntity.js",
      "src/storage/entity/AudioEntity.js",
      "src/storage/entity/ImageEntity.js",
      "src/storage/entity/VideoEntity.js"
    ],
    "autoloadsWs": [
      "element/icons/icons.js"
    ]
  },
  {
    "title" : "Timeslot",
    "name": "timeslot",
    "icon" : "timeslot:menu",
    "configEntryPoint": "config.js",
    "webComponentEntryPointName" : "timeslot-index",
    "webComponentEntryPointNameFile" : "index.js",
    "autoloads" : [
      "src/injector/AbstractInjector.js",
      "src/AbstractTimeslotService.js",
      "src/TimeslotService.js",
      "src/storage/entity/TimeslotEntity.js",
      "src/storage/entity/embedded/Injector.js",
      "src/storage/adapter/dexie/DexieTimeslotAdapter.js",
      "src/injector/Test1.js",
      "src/injector/Test2.js"
    ],
    "autoloadsWs": [
      "element/icons/icons.js"
    ],
    "widgets": [
      {
        "src": "widget/paper-timeslot-tags/paper-timeslot-tags.js",
        "description": "Widget to view tagged timeslot",
        "name": "Timeslot tags",
        "wc": "paper-timeslot-tags",
        "wcData": "paper-timeslot-tags-data",
        "dataProperty": "tags",
        "dataLabel": "tags",
        "dataRequired": true
      }
    ]
  }
]
