<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../iconset/iconset.html">
<link rel="import" href="../monitor/monitor.html">

<link rel="import" href="../../../../css/global-layout.html">
<link rel="import" href="../../../../css/global-styles.html">
<link rel="import" href="../../../../element/pagination/pagination.html">
<link rel="import" href="../../../../element/storage/storage-adapter-pagination-resource-behaviour.html">


<dom-module id="monitor-view-list">
    <template>
        <style include="global-layout"></style>
        <style include="global-style"></style>
        <style>

            @media (max-width: 600px) {
                monitor-wc {
                    flex-basis: 100%;
                }
            }

            @media (min-width: 601px) and (max-width: 900px) {
                monitor-wc {
                    flex-basis: 50%;
                }
            }

            @media (min-width: 901px) and (max-width: 1200px) {
                monitor-wc {
                    flex-basis: 33.3%;
                }
            }

            @media (min-width: 1201px) and (max-width: 1500px) {
                monitor-wc {
                    flex-basis: 25%;
                }
            }

            @media (min-width: 1501px) and (max-width: 1919px) {
                monitor-wc {
                    flex-basis: 20%;
                }
            }

            @media (min-width: 1920px) {
                monitor-wc {
                    flex-basis: 16.6%;
                }
            }

        </style>
        <slot name="header"></slot>
        <div hidden$="{{!totalItems}}" style="padding-top: 20px;">
            <div class="flex flex-wrap">
                <template is="dom-repeat" items="[[resources]]" as="monitor">
                    <monitor-wc
                            monitor="{{monitor}}"
                            on-remove="_removeResource"
                            on-update-view="displayUpdateView"
                            on-change-enable="changeEnableMonior">
                    </monitor-wc>
                </template>
            </div>
            <application-pagination page="{{page}}" total-item="{{totalItems}}" item-per-page="{{itemPerPage}}"></application-pagination>
        </div>
        <div hidden$="{{totalItems}}">Non sono presenti monitor virtuali</div>
    </template>

    <script>
        class ElementMonitorViewList extends StorageAdapterPaginationResourceBehaviour {

            static get is() {
                return 'monitor-view-list';
            }

            static get properties() {
                return {

                    resourceSelected: {
                        type: Object,
                        notify: true,
                        value: {}
                    },

                    selected: {
                        type: Number,
                        notify: true
                    },

                    storageName: {
                        type: String,
                        readOnly: true,
                        value: MonitorConfig.NAME_SERVICE

                    }
                };
            }

            ready() {
                super.ready();
                this.addStorageListener(dsign.storage.Storage.STORAGE_POST_SAVE, this.getResources.bind(this))
            }

            /**
             * @param evt
             */
            changeEnableMonior(evt) {

                for (let cont = 0; this.resources.length > cont; cont++) {
                    this.resources[cont].enable = 0
                }

                this.storage.getAll({enable: 1})
                    .then((enableMonitors) => {
                        for (let cont = 0; enableMonitors.length > cont; cont++) {

                            enableMonitors[cont].enable = false;
                            this.storage.update(enableMonitors[cont])
                                .then((data) => {
                                })
                                .catch((err) => {
                                        console.log(err)
                                    }
                                );
                        }

                        evt.detail.enable = true;
                        this.storage.update(evt.detail)
                            .then((data) => {
                                serviceManager.get('PaperToastNotification').notify(' Enable ' + evt.detail.name);
                            })
                            .catch((err) => {
                                    console.log(err)
                                }
                            );

                    });
            }

            displayUpdateView(evt) {
                this.resourceSelected = evt.detail;
                this.selected = 2;
            }
        }

        window.customElements.define(ElementMonitorViewList.is, ElementMonitorViewList);

    </script>
</dom-module>
