<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../../../../css/global-layout.html">
<link rel="import" href="../../../../css/global-styles.html">
<link rel="import" href="../../element/playlist/playlist.html">
<link rel="import" href="../../../../element/pagination/pagination.html">
<link rel="import" href="../../../../element/storage/storage-adapter-pagination-resource-behaviour.html">


<dom-module id="playlist-view-list">
    <template>
        <style include="global-layout"></style>
        <style include="global-style"></style>
        <style>

        </style>
        <slot name="header"></slot>
        <div hidden$="{{!totalItems}}" style="padding-top: 20px;">
            <template is="dom-repeat" items="[[resources]]" as="playlist">
                <playlist-wc
                        playlist="{{playlist}}"
                        on-remove="_removeResource"
                        on-update-view="displayUpdateView"
                        on-wrap-update-playlist="update"
                        on-play="play"
                        on-stop="stop"
                        on-pause="pause"
                        on-resume="resume"
                        on-change-rotation="_updateResource"
                        on-change-context="_updateResource">
                </playlist-wc>
            </template>
            <application-pagination page="{{page}}" total-item="{{totalItems}}" item-per-page="{{itemPerPage}}"></application-pagination>
        </div>
        <div hidden$="{{totalItems}}">
            Non sono presenti playlist
        </div>
    </template>

    <script>
        class ElementPlaylistViewList extends StorageAdapterPaginationResourceBehaviour {

            static get is() {
                return 'playlist-view-list';
            }

            static get properties() {
                return {

                    resourceSelected: {
                        type: Object,
                        notify: true,
                        value: {}
                    },

                    selected: {
                        type: Number,
                        notify: true
                    },

                    storageName: {
                        type: String,
                        readOnly: true,
                        value: PlaylistConfig.NAME_SERVICE

                    }
                };
            }

            ready() {
                super.ready();
                this.addStorageListener(dsign.storage.Storage.STORAGE_POST_SAVE, this.getResources.bind(this))
            }

            /**
             * @param evt
             */
            play(evt) {
                serviceManager.get('PlaylistService').play(
                    evt.detail
                );
            }

            /**
             * @param evt
             */
            stop(evt) {
                serviceManager.get('PlaylistService').stop(
                    evt.detail
                );
            }

            /**
             * @param evt
             */
            pause(evt) {
                serviceManager.get('PlaylistService').pause(
                    evt.detail
                );
            }

            /**
             * @param evt
             */
            resume(evt) {
                serviceManager.get('PlaylistService').resume(
                    evt.detail
                );
            }

            displayUpdateView(evt) {
                this.resourceSelected = evt.detail;
                this.selected = 2;
            }
        }

        window.customElements.define(ElementPlaylistViewList.is, ElementPlaylistViewList);

    </script>
</dom-module>
