<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../../../../css/global-layout.html">
<link rel="import" href="../../../../css/global-styles.html">
<link rel="import" href="../../element/playlist/playlist.html">
<link rel="import" href="../../../../element/pagination/pagination.html">
<link rel="import" href="../../../../element/storage/storage-adapter-pagination-resource-behaviour.html">


<dom-module id="playlist-view-list">
    <template>
        <style include="global-layout"></style>
        <style include="global-style"></style>
        <style>
            @media (max-width: 600px) {
                playlist-wc {
                    flex-basis: 100%;
                }
            }

            @media (min-width: 601px) and (max-width: 900px) {
                playlist-wc {
                    flex-basis: 50%;
                }
            }

            @media (min-width: 901px) and (max-width: 1200px) {
                playlist-wc {
                    flex-basis: 33.3%;
                }
            }

            @media (min-width: 1201px) and (max-width: 1500px) {
                playlist-wc {
                    flex-basis: 25%;
                }
            }

            @media (min-width: 1501px) and (max-width: 1919px) {
                playlist-wc {
                    flex-basis: 20%;
                }
            }

            @media (min-width: 1920px) {
                playlist-wc {
                    flex-basis: 16.6%;
                }
            }
        </style>
        <slot name="header"></slot>
        <div hidden$="{{!totalItems}}" style="padding-top: 20px;">
            <div class="flex flex-wrap">
                <template is="dom-repeat" items="[[resources]]" as="playlist">
                    <playlist-wc
                            playlist="{{playlist}}"
                            on-remove="_removeResource"
                            on-update-view="displayUpdateView"
                            on-wrap-update-playlist="update"
                            on-play="play"
                            on-stop="stop"
                            on-pause="pause"
                            on-resume="resume"
                            on-change-rotation="_updateResource"
                            on-change-context="_updateResource">
                    </playlist-wc>
                </template>
            </div>
            <application-pagination page="{{page}}" total-item="{{totalItems}}" item-per-page="{{itemPerPage}}"></application-pagination>
        </div>
        <div hidden$="{{totalItems}}">
            Non sono presenti playlist
        </div>
    </template>

    <script>
        class ElementPlaylistViewList extends StorageAdapterPaginationResourceBehaviour {

            static get is() {
                return 'playlist-view-list';
            }

            static get properties() {
                return {

                    resourceSelected: {
                        type: Object,
                        notify: true,
                        value: {}
                    },

                    selected: {
                        type: Number,
                        notify: true
                    },

                    storageName: {
                        type: String,
                        readOnly: true,
                        value: PlaylistConfig.NAME_SERVICE

                    }
                };
            }

            ready() {
                super.ready();
                this.addStorageListener(dsign.storage.Storage.STORAGE_POST_SAVE, this.getResources.bind(this))
            }

            /**
             * @param evt
             */
            play(evt) {
                serviceManager.get('PlaylistService').play(
                    evt.detail
                ).catch((err) => {
                    console.error('play playlist', err);
                });
            }

            /**
             * @param evt
             */
            stop(evt) {
                serviceManager.get('PlaylistService').stop(
                    evt.detail
                ).catch((err) => {
                    console.error('stop playlist', err);
                });
            }

            /**
             * @param evt
             */
            pause(evt) {
                serviceManager.get('PlaylistService').pause(
                    evt.detail
                ).catch((err) => {
                    console.error('pause playlist', err);
                });
            }

            /**
             * @param evt
             */
            resume(evt) {
                serviceManager.get('PlaylistService').resume(
                    evt.detail
                ).catch((err) => {
                    console.error('resume playlist', err);
                });
            }

            /**
             * @param evt
             */
            displayUpdateView(evt) {
                this.resourceSelected = evt.detail;
                this.selected = 2;
            }
        }

        window.customElements.define(ElementPlaylistViewList.is, ElementPlaylistViewList);

    </script>
</dom-module>
