<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../../../../element/file-upload/file-upload.html">
<link rel="import" href="../../../../element/layout/view/storage-behaviour.html">

<link rel="import" href="../../../../css/global-layout.html">
<link rel="import" href="../../../../css/global-styles.html">

<dom-module id="video-panel-view-upsert">
    <template>
        <style>


            .paper-panel {
                padding: 6px;
                margin-top: 10px;
                display: flex;
            }


            .paper-panel paper-input,
            .paper-video-panel paper-input,
            .paper-panel paper-autocomplete,
            .paper-video-panel paper-autocomplete{
                padding-left: 6px;
            }

            paper-listbox.auto {
                min-width:initial;
            }

            .paper-video-panel {
                margin-left: 30px;
            }

            .paper-panel,
            .paper-video-panel {
                margin-bottom: 8px;
            }

            #videoPanel {
                padding: 8px;
                width: 100%;
            }
        </style>
        <style include="global-layout"></style>
        <style include="global-style"></style>
        <slot name="header"></slot>
        <div class="flex flex-horizontal">
            <div class="flex-basis-70" style="padding-right:16px;">
                <iron-form id="formPanel">
                    <form method="post">
                        <paper-input id="name" name="name" label="Name" value="{{resource.name}}" required></paper-input>
                        <template is="dom-if" if="{{hasVideoPanel}}" >
                            <paper-card class="paper-panel flex">
                                <div class="flex flex-1">
                                    <paper-input id="name" name="name" label="Name" value="{{resource.videoPanel.name}}" required></paper-input>
                                    <paper-input id="width" name="width" label="Width" type="number" value="{{resource.videoPanel.width}}" required></paper-input>
                                    <paper-input id="height" name="height" label="Height" type="number" value="{{resource.videoPanel.height}}" required></paper-input>
                                </div>
                                <div class="flex flex-center">
                                    <paper-menu-button ignore-select style="padding: 0">
                                        <paper-icon-button icon="app:more" slot="dropdown-trigger" alt="multi menu"></paper-icon-button>
                                        <paper-listbox slot="dropdown-content" class="auto" multi>
                                            <paper-item item="{{resource.videoPanel}}"  on-click="_removeVideoPanel">Elimina</paper-item>
                                        </paper-listbox>
                                    </paper-menu-button>
                                </div>
                            </paper-card>
                            <template submonitor-repeat is="dom-repeat" items="{{resource.videoPanel.videoPanels}}" as="videoPanel">
                                <paper-card class="paper-video-panel flex">
                                    <div class="flex flex-1">
                                        <paper-input id="name" name="name" label="Name" value="{{videoPanel.name}}" required></paper-input>
                                        <paper-input id="width" name="width" label="Width" type="number" value="{{videoPanel.width}}" required></paper-input>
                                        <paper-input id="height" name="height" label="Height" type="number" value="{{videoPanel.height}}" required></paper-input>
                                    </div>
                                    <div class="flex flex-center">
                                        <paper-menu-button ignore-select style="padding: 0">
                                            <paper-icon-button icon="app:more" slot="dropdown-trigger" alt="multi menu"></paper-icon-button>
                                            <paper-listbox slot="dropdown-content" class="auto" multi>
                                                <paper-item item="{{videoPanel}}"  on-click="_removeVideoPanel">Elimina</paper-item>
                                            </paper-listbox>
                                        </paper-menu-button>
                                    </div>
                                </paper-card>
                            </template>
                        </template>
                    </form>
                </iron-form>
            </div>
            <div class="flex-basis-30">
                <paper-card id="videoPanel" heading="Video panel">
                    <iron-form id="formVideoPanel">
                        <form method="post" action="">
                            <paper-input id="name" name="name" label="Name" value="{{videoPanel.name}}" required></paper-input>
                            <paper-input id="videoPanelHeight" name="height" type="number" label="Height" value="{{videoPanel.height}}" required></paper-input>
                            <paper-input id="videoPanelWidth" name="width" type="number" label="Width" value="{{videoPanel.width}}" required></paper-input>
                            <paper-autocomplete
                                    id="monitorSelector"
                                    label="Monitor"
                                    text-property="name"
                                    value-property="name"
                                    remote-source
                                    _selected-option="{{data}}"
                                    on-autocomplete-selected="_selectMonitor"
                                    on-autocomplete-change="_searchMonitorChanged">
                                <template slot="autocomplete-custom-template">
                                    <style>
                                        :host {
                                            display: block;
                                        }

                                        paper-item.account-item {
                                            padding: 8px 16px;
                                        }

                                        .service-name {
                                            color: #333;
                                        }

                                        .service-description {
                                            margin-top: 4px;
                                            color: #999;
                                        }
                                    </style>
                                    <paper-item class="account-item" on-tap="_onSelect" role="option"
                                                aria-selected="false">
                                        <div>
                                            <div class="service-name">[[item.name]]</div>
                                            <div class="service-description">Width [[item.width]]px Height
                                                [[item.height]]px
                                            </div>
                                        </div>
                                        <paper-ripple></paper-ripple>
                                    </paper-item>
                                </template>
                            </paper-autocomplete>
                            <div hidden$="[[!hasVideoPanel]]">
                                <paper-autocomplete
                                        id="videoPanelSelector"
                                        label="Video Panel"
                                        text-property="name"
                                        value-property="name"
                                        remote-source
                                        _selected-option="{{data}}"
                                        on-autocomplete-change="_searchResourceChanged">
                                    <template slot="autocomplete-custom-template">
                                        <style>
                                            :host {
                                                display: block;
                                            }

                                            paper-item.account-item {
                                                padding: 8px 16px;
                                            }

                                            .service-name {
                                                color: #333;
                                            }

                                            .service-description {
                                                margin-top: 4px;
                                                color: #999;
                                            }
                                        </style>
                                        <paper-item class="account-item" on-tap="_onSelect" role="option" aria-selected="false">
                                            <div>
                                                <div class="service-name">[[item.name]]</div>
                                                <div class="service-description">Width [[item.width]]px Height [[item.height]]px</div>
                                            </div>
                                            <paper-ripple></paper-ripple>
                                        </paper-item>
                                    </template>
                                </paper-autocomplete>
                            </div>
                            <div class="flex flex-horizontal-end">
                                <paper-button on-tap="submitVideoPanelButton">Add</paper-button>
                            </div>
                        </form>
                    </iron-form>
                </paper-card>
            </div>
        </div>
        <div class="flex flex-horizontal-end" style="padding-top: 10px; padding-right: 8px;">
            <paper-button on-tap="submitPanelButton">{{labelAction}}</paper-button>
        </div>
    </template>

    <script>
        class ElementVideoPanelViewUpsert extends StorageBehaviour {

            static get is() {
                return 'video-panel-view-upsert';
            }

            static get properties() {
                return {

                    videoPanel : {
                        value: new VideoPanel()
                    },

                    resource: {
                        type: Object,
                        notify: true,
                        value: new Panel()
                    },

                    labelAction: {
                        type: String,
                        value: 'Save'
                    },

                    hasVideoPanel: {
                        type: Boolean,
                        notify: true,
                        value: false
                    },

                    storageName: {
                        type: String,
                        readOnly: true,
                        value: VideoPanelConfig.NAME_SERVICE

                    },
                }
            }

            static get observers() {
                return [
                    '_changeResource(resource)'
                ]
            }


            ready() {
                super.ready();

                this.$.formVideoPanel.addEventListener('iron-form-presubmit', this.submitVideoPanel.bind(this));
                this.$.formPanel.addEventListener('iron-form-presubmit', this.submitResource.bind(this));

            }

            /**
             * @param {undefined|Panel} evt
             */
            _changeResource(resource) {
                if (!resource) {
                    this.labelAction ='Save';
                    return;
                }

                this.hasVideoPanel = resource.hasVideoPanel();
                this.labelAction = resource.id ? 'Update' : 'Save';
            }

            /**
             * @param evt
             */
            _searchResourceChanged(evt) {
                let filter = this.resource.getVideoPanel().getVideoPanels({nested:true}).filter(
                    element => {
                        return element.name.search(new RegExp(evt.detail.value, 'i')) > -1;
                    }
                );

                evt.detail.target.suggestions(
                    filter
                );
            }

            /**
             * @param evt
             */
            _searchMonitorChanged(evt) {

                serviceManager.get('StoragePluginManager')
                    .get(MonitorConfig.NAME_SERVICE)
                    .getAll()
                    .then((data) => {
                        let monitors = [];

                        if (this.resource.hasVideoPanel()) {
                            let index = data.findIndex((element) => {
                                return element.id === this.resource.getVideoPanel().virtualMonitorReference.virtualMonitorId;
                            });
                            data = [
                                data[index]
                            ];
                        }

                        for (let cont = 0; data.length > cont; cont++) {
                            let internalMonitor = data[cont].getMonitors({nested: this.resource.hasVideoPanel()});
                            for (let index = 0; internalMonitor.length > index; index++) {
                                monitors.push({
                                    monitor: internalMonitor[index],
                                    config: data[cont],
                                    name: internalMonitor[index].name
                                });
                            }
                        }

                        let filter = monitors.filter(
                            element => {
                                return element.name.search(new RegExp(evt.detail.value, 'i')) > -1;
                            }
                        );

                        evt.detail.target.suggestions(
                            filter
                        );
                    });
            }

            /**
             * @param evt
             */
            _selectMonitor(evt) {
                let ref = new VirtualMonitorReference();
                ref.virtualMonitorId = evt.detail.option.config.id;
                ref.monitorId = evt.detail.option.monitor.id;
                ref.name = evt.detail.option.monitor.name;
                this.videoPanel.virtualMonitorReference = ref;
            }

            /**
             * @param evt
             */
            submitVideoPanelButton(evt) {
                this.$.formVideoPanel.submit();
            }

            /**
             * @param evt
             */
            submitVideoPanel(evt) {
                evt.preventDefault();
                this.videoPanel.id = require('dsign-library').Utils.uid;

                if (this.resource.hasVideoPanel()) {
                    let videoPanel = this.resource.getVideoPanel()
                        .getVideoPanel(this.$.videoPanelSelector._selectedOption.id);

                    videoPanel.appendVideoPanel(
                        serviceManager.get('HydratorPluginManager').get('videoPanelsHydrator').hydrate(this.videoPanel)
                    );
                } else {
                    this.resource.setVideoPanel(
                        serviceManager.get('HydratorPluginManager').get('videoPanelsHydrator').hydrate(this.videoPanel)
                    );
                    this.hasVideoPanel = true;
                }

                this.videoPanel = new VideoPanel();
                this._resetVideoPanel();
                this.render();
            }

            /**
             *
             */
            render() {
               let elements = this.root.querySelectorAll('dom-repeat');
               for (let cont = 0; elements.length > cont; cont++) {
                   elements[cont].render();
               }
            }

            /**
             * @param evt
             */
            submitPanelButton(evt) {
                this.$.formPanel.submit();
            }

            /**
             * @param evt
             */
            submitResource(evt) {
                evt.preventDefault();

                let method = this.getStorageMethod();
                this.storage[method](this.resource)
                    .then((data) => {
                        serviceManager.get('PaperToastNotification').notify(method.charAt(0).toUpperCase() + method.slice(1) + ' video panel');
                        if (method === 'save') {
                            this._resetPanel();
                        }

                    })
                    .catch((err) => {
                            console.log(err)
                        }
                    );
            }

            /**
             *
             */
            _resetVideoPanel() {
                this.$.formVideoPanel.reset();
                this.$.videoPanelSelector.reset();
                this.$.monitorSelector.reset();
            }

            /**
             *
             */
            _resetPanel() {
                this.resource = new Panel();
            }

            /**
             *
             */
            _removeVideoPanel(evt) {
                this.resource.getVideoPanel().removeVideoPanel(evt.target.item);
                this.render();
            }
        }

        window.customElements.define(ElementVideoPanelViewUpsert.is, ElementVideoPanelViewUpsert);

    </script>
</dom-module>
